<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" [value]="todoItem.content"
                   #newTodoContent (keyup)="checkSaveAllowed(newTodoContent.value)">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary"
                        [disabled]="!saveAllowed"
                        (click)="save(newTodoContent.value)">
                    <i class="glyphicon glyphicon-floppy-disk"></i>
                </button>
                <a type="button" class="btn btn-danger" routerLink="/todo">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </div>
        </div>
    </div>
</div>